.person{
    width: 20px;
    height: 25px;
    color: white;
    
}
.container {
    display:flex;
    
    align-items:center; 
}
#navbar li{
    display:inline-block;
  }
  #navbar a{
    text-decoration:none;
    font-size:18px;
    padding-right:15px;
    color: white;
  }
  #nav-bar{
    margin-top: 2px;
    margin-left: 200px;
    color: white;
  }
  #main-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .buttons{
    display: flex;
    color: white;
    padding-left: 20px;
  }
  #p{
    margin-top: 2px;
  }
  body{
    background-image: url(images/images.jpg);
    background-size: cover;
    
  }
  #bod{
    text-align: center;
    padding: 800px;

  }
  #logo{
    color: white;
  }
#h1{
    font-size: 60px;
    font-weight: bolder;
    
    padding:20px;
    width: 700px;
    margin-left: 350px;
    color: white;

}
#hg{
    color:orangered ;
    font-size: 20px;
   padding-bottom: 0px
}
.All{
  display: flex;
  flex: content;
  justify-content: space-between;
  background-color: skyblue;
  padding: 84px;
  margin-top:50% ;
  
}
.word{
  color: black;
  margin-left: 10%;
  margin-top: 8%;
  
}
.image{
  margin-right:20%;
}
.bit1{
  display:flex;
  padding-left:5% ;
  background-color: skyblue;
  -webkit-text-fill-color: black;
  margin-right: 0%;
  margin-left: 0%;
  
  
  
}
#photo{
  padding-left: 28%;
  padding-right: 100%;
  margin-right: 0%;

}
h5{
  -webkit-text-fill-color:black;
}
header{
  font-size:30px;
  font-weight:bolder;
}
#text{
font-size: medium;
text-align-last: right;
  
}
#container{
  background-color: skyblue;
  border: 2px solid;
  
  
  


}
#top{
  -webkit-text-fill-color: rgb(150, 150, 12);
  display: flex;
  
  
}
.top2{
  -webkit-text-fill-color: black;
  padding: 2%;
}
.top3{
  display: flex;
  text-align: left;
  margin: 15%;
  padding-left: 25%;
  text-align: top;
  margin-left: auto;
  margin-right: auto;

}
.mountain{
  height: 150px;
  margin: 0%;
  text-align: left;
  align-content: center;
  
  
  

  


}
